*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.error-msg{
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

}
.background-img{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  mask-repeat: no-repeat;
  opacity: 0.8;
}
.center{
  text-align: center;
}
.App{
  position: relative;
  width: 100%;
  min-height: 100vh;
}
/* Search */
.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
}
.search-bar{
  width: 40%;
  height: 32px;
  background-color: #ffffff87;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 12px 0px 0px 12px;
  border: 2px solid #757171;
  border-right: none;
  outline: none;
}

.search-button{
  border-radius: 0px 12px 12px 0px;
  border: 2px solid #757171;
  border-left: none;
  width: 37px;
  height: 32px;
  background-color: #ffffff87;
  padding: 5px 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898181;
  cursor: pointer;
}

/* Main data */
.main-data{
  width: 50%;
  margin: auto;
  margin-top: 3.5%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
}
.weather-icon{
  width: 145px;
}
.condition{
  font-size: 3rem;
  font-weight: bold;
  margin: 2px;
}
.city-name {
  font-size: 1.6rem;
}
.temp-box {
  display: flex;
  margin: 20px;
  font-size: 2rem;
}
.temp-box h1{
  font-size: 6rem;
}

/* parameters */
.para-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10%;
  width: 100%;
  color: whitesmoke;
}
.para-box h2{
  text-align: center;
}
.label{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.para-icon{
  font-size: 2.2rem;
}

@media only screen and (max-width: 750px){
  .background-img{
    min-height: 100vh;
  }
  .search-bar{
    width: 75%;
  }
  .main-data{
    width: 75%;
  }
  .para-box{
    bottom: 7%;
  }
  .para-icon{
    font-size: 2rem;
  }
  .para-box h2{
    font-size: 1.1rem;
  }
}